In [ ]:
import mysql.connector
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="msit"
)
mysql_query=db.cursor()
mysql_query.execute("CREATE TABLE customers_2 (id INT AUTO_INCREMENT PRIMARY KEY,name VARCHAR(255),address VARCHAR(250),email VARCHAR(30))")
print("table created successfully")

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="msit"
)

mycurso = mydb.cursor()
sql = "INSERT INTO customers(name) VALUES(%s)"
val=("Ranit")
mycursor.execute(sql, val)

sql_2="INSERT INTO customers_2(name,address,email) VALUES(%s,%s,%s)"
val_2=("Rony","Amta","rd@gmail.com")
mycursor.execute(sql_2,val_2)

mydb.commit()

print(mycursor.rowcount,"record inserted.")